:root {
    --primary-color:  rgb(157, 171, 225);
    --secondary-color: #ddd;
}

body {
    background: var(--primary-color);
}

.container {
    background: var(--secondary-color);
    height: 90px;
    width: 500px;
    padding: 50px 50px;
    margin: 50px auto;
    border-radius: 10px;
}

